 .header {
    display: flex;
    align-items: center;
    height: 50px;
    overflow: hidden;
    font-size: var(--fsz);
    background-color: var(--clr-text) !important;
    &__logo {
        height: 32px;
        transition: var(--transition);
    
        &:hover {
            opacity: 0.7;
        }
    }
    &__link {
        color: #fff;
    }
 }
