// css-переменные проекта
@import "./styles/vars";

// нормализация стилей проекта
@import "./styles/normalize";
@import "./styles/utils";
@import "./styles/fonts";

.app {
    display: flex;
    flex-direction: column;
    max-width: var(--container-width);
    font-family: var(--ff-primary);
    background-color: var(--clr-background);
    padding-left:var(--container-paddingX);
    padding-right: var(--container-paddingX);

    &-content {
        flex-grow: 1;
    }

    .page {
        margin: 20px 10%;
    }
}
